<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_SECRET</key>
	<string>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</string>
	<key>API_UID</key>
	<string>u-s4t2ud-e0fd545cd298bf6baf6f4ef93ae204021c52e864cd8053ef6103707ee9fc9926</string>
</dict>
</plist>
